<div class="imageViewerContainer" [style.width]="width + 'px'" [style.height]="height + 'px'" #imageViewerContainer>
	<div class="imageViewer"
		 (dragstart)="cancleCurrentImageDrag($event)"
		 (mousedown)="currentImageDragStart($event)"
		 (mousemove)="currentImageDrag($event)"
		 (mouseup)="currentImageDragEnd($event)"
		 [style.width]="imageViewerContainer.style.width"
		 [style.height]="(imageViewerContainer.clientHeight - 150) + 'px'" #imageViewer>

		<img [src]="currentImageUrl"
			 (load)="currentImageLoaded(showImg, imageViewer)" #showImg>

		<div class="previousImg" (click)="preOrNextImg('pre')">
			<span class="fa fa-chevron-circle-left" aria-hidden="true" title="上一张"></span>
		</div>
		<div class="nextImg" (click)="preOrNextImg('next')">
			<span class="fa fa-chevron-circle-right" aria-hidden="true" title="下一张"></span>
		</div>
	</div>
	<div class="smallImageViewer">
		<div class="toImg previousImgs" title="向左查看" (click)="previousImg(moreImg, imageViewer)">
			<i class="fa fa-angle-double-left" aria-hidden="true"></i>
		</div>
		<div class="toImg nextImgs" title="向右查看" (click)="nextImg(moreImg, imageViewer)">
			<i class="fa fa-angle-double-right" aria-hidden="true"></i>
		</div>
		<div class="moreImg" #moreImg [style.left]="moreImgInitLeft + 'px'">
			<img *ngFor="let imgUrl of imageSources;" [src]="imgUrl" (click)="changeCurrentImageUrl(imgUrl)">
		</div>
	</div>
	<div class="imageTools">
		<button class="toolsBtn imageZoomin" title="放大" (click)="imageZoomin()">
			<i class="fa fa-search-plus" aria-hidden="true"></i>
		</button>
		<button class="toolsBtn imageZoomout" title="缩小" (click)="imageZoomout()">
			<i class="fa fa-search-minus" aria-hidden="true"></i>
		</button>
		<button class="toolsBtn rotateLeft" title="向左旋转" (click)="rotateLeft()">
			<i class="fa fa-undo" aria-hidden="true"></i>
		</button>
		<button class="toolsBtn rotateRight" title="向右旋转" (click)="rotateRight()">
			<i class="fa fa-repeat" aria-hidden="true"></i>
		</button>
		<button class="toolsBtn flipVertical" title="垂直翻转" (click)="flipVertical()">
			<i class="fa fa-arrows-v" aria-hidden="true"></i>
		</button>
		<button class="toolsBtn flipHorizontal" title="水平翻转" (click)="flipHorizontal()">
			<i class="fa fa-arrows-h" aria-hidden="true"></i>
		</button>
		<button class="toolsBtn imageReset" title="重置" (click)="currentImgReset()">
			<i class="fa fa-refresh" aria-hidden="true"></i>
		</button>
	</div>
</div>
