$viewer-border-color: #888484;
$viewer-background-color: #3E3E3E;

.imageViewerContainer {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 400px;
    min-height: 400px;
    background-color: $viewer-background-color;

    .imageViewer {
        position: relative;
        overflow: hidden;

        div {
            position: absolute;
            width: 80px;
            height: 100%;
            background: rgba(112, 109, 109, 0);
            transition: all 0.5s;

            span {
                position: absolute;
                font-size: 60px;
                width: 1em;
                height: 1em;
                text-align: center;
                top: 50%;
                margin-top: -30px;
                left: 50%;
                margin-left: -30px;
                opacity: 0.2;
                color: #797979;
                transition: all 0.5s;
                cursor: pointer;
            }

            &:hover {

                background: rgba(112, 109, 109, 0.5);

                span {
                    opacity: 1;
                    color: #F5F5F5;
                }
            }

            &.previousImg {
                top: 0;
                left: 0;
            }

            &.nextImg {
                top: 0;
                right: 0;
            }
        }

        img {
            position: absolute;
            border: 0;
            padding: 0;
            margin: 0;
            width: auto;
            height: 98%;
            visibility: visible;
            transition: all 0.5s ease-out;
        }
    }

    .smallImageViewer {
        border-top: 2px solid $viewer-border-color;
        border-bottom: 2px solid $viewer-border-color;
        margin-top: 2px;
        height: 100px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;

        .moreImg {
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            transition: left 0.6s ease-out;

            img {
                position: relative;
                cursor: pointer;
                margin: 0 2px 0 0;
                height: 100%;
                transform: scale(1);
                transition: transform 0.5s;
                z-index: 1;

                &:hover {
                    transform: scale(1.5);
                    z-index: 2;
                }
            }
        }

        .toImg {
            height: 100%;
            width: 25px;
            color: #FFFFFF;
            text-align: center;
            line-height: 100px;
            font-weight: bold;
            opacity: 0.8;
            cursor: pointer;
            overflow: hidden;
            background-color: $viewer-background-color;
            position: absolute;
            z-index: 9;
            top: 0;
            user-select: none;
            transition: opacity 0.5s;

            &:hover {
                opacity: 1;
            }
        }

        .previousImgs {
            left: 0;
        }

        .nextImgs {
            right: 0;
        }
    }

    .imageTools {
        text-align: center;
        height: 46px;
        line-height: 46px;

        .toolsBtn {
            margin: 0 5px;
            padding: 4px 8px;
            color: $viewer-background-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            background-image: none;
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                color: #FFFFFF;
                background-color: $viewer-background-color;
                border-color: $viewer-border-color;
            }
        }
    }

}